* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(to right, #ffd6ec, #ffe9f5);
  color: #333;
  transition: 0.3s;
}

/* DARK MODE */
.dark {
  background: #1e1e1e;
  color: white;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.dark nav {
  background: #333;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
}

.hero h2 {
  color: #ff69b4;
  font-size: 40px;
}

/* SECTION */
section {
  padding: 60px 20px;
  max-width: 1000px;
  margin: auto;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* CARD */
.card {
  background: white;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  border-radius: 15px;
}

/* DARK CARD */
.dark .card {
  background: #2c2c2c;
}

/* BUTTON */
#darkModeBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
}
